.keyboard {
  width: 60em;
  display: flex;
  flex-direction: column;
  margin: auto;
  .key_line {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2.5px 0;
  }

  .enter_area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .enter_lines {
    width: min-content;
    display: flex;
    flex-direction: column;
  }

  .key_default {
    margin: 5px;
    height: 50px;
    padding: 16px;
    background-color: #fff;
    text-align: center;
  }

  .shift {
    width: 90px;
  }
  .tab {
    width: 90px;
  }
  .space {
    width: 230px;
  }
  .caps {
    width: 80px;
  }
  .ctrl {
    width: 75px;
  }
  .enter {
    height: 110px;
    flex-grow: 1;
  }

  .auto {
    flex-grow: 1;
  }

  .normal {
    width: 50px;
  }
}
